# The notebook

In [31]:
%pip install pandas
%pip install numpy
%pip install seaborn
%pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/gitpod/.local/lib/python3.10/site-packages (2.2.2)

Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas) (2.1.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/gitpod/.local/lib/python3.10/site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/gitpod/.local/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/gitpod/.local/lib/python3.10/site-packages (from seaborn) (2.1.0)
Requirement already satisfied: pandas>=1.2 in /home/gitpod/.local/lib/python3.10/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/gitpod/.local/lib/python3.10/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: pillow>=8 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: tzdata>=2022.7 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/gitpod/.local/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: numpy>=1.23 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /home/gitpod/.local/lib/python3.10/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as pd
import numpy as np
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.2.2
NumPy version: 2.1.0

In [33]:
data = pd.read_csv("./adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data cleaning

Let's check for any missing values in the data

In [34]:
missing_summary = data.isnull().sum()
print(missing_summary[missing_summary > 0])

Series([], dtype: int64)

Now let's check columns for error values
(we can't check all columns for every unique values so checking columns with repetative values)

In [35]:
countries=data["native-country"].unique()
print(countries)

['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']

On the 6th index we can see a ? let's see how many of that "?" values are in this table

In [36]:
print(len(data[data["native-country"]=="?"]))

583

The missing 583 values will make accuracy issues with the outcome, So filtering that

In [37]:
df = data[data["native-country"] != "?"]
#ensuring the data is cleaned 
print(len(df[df["native-country"]=="?"]))

0

## Analysys
let's clear further inconsistensies if they are there while we do analysis

Now we have to find how many people of each race are in the data
inorder to find that we have to analyse our data

In [38]:
counts_race=df["race"].value_counts()
print(counts_race)

race
White                 27430
Black                  3028
Asian-Pac-Islander      956
Amer-Indian-Eskimo      311
Other                   253
Name: count, dtype: int64

What is the average age of men?

In [40]:
male_data = df[df["sex"]== "Male"]
print(male_data["age"].mean())

39.43603182030884

Now that's done, let's move on to the next question`    
which is finding out the percentage of people who have a bachlors degree

let's review the data once again

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
bachelorCount= df["education"].value_counts().get("Bachelors",0)
print(bachelorCount)

5210

Now that we got the counts we can use that to determine the percentage of the bachelors on our data

In [ ]:
percentage_of_bachelors= (bachelorCount/df["education"].count())*100
print(round(percentage_of_bachelors,1))

16.3

16.44 percent of the education is bachelors.
Now we have to figure out 
What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K

In [ ]:
advanced_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
advanced_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [ ]:
advanced_education_salary_50k = advanced_education[advanced_education["salary"] == ">50K"]
advanced_education_salary_50k.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K

In [49]:
percentage_of_rich = (advanced_education_salary_50k.shape[0]/advanced_education.shape[0])*100
print(round(percentage_of_rich,1))

46.7

Now we have to find what percentage of people without advanced education makes more than 50k

In [41]:
# for that i will substract the advanced education table from the data table
regular_education = pd.concat([df, advanced_education]).drop_duplicates(keep=False)
# Ensuring the changes are made
print(df.shape, advanced_education.shape)
regular_education.head()
#checking the salary 
regular_50 = regular_education[regular_education["salary"]==">50K"]
regular_percent = (len(regular_50)/len(regular_education))*100
print(regular_percent)

(31978, 15) (7274, 15)
17.41333873910399

Now the next objective of ours is we have to find the minimum number of hours a persons works per week

In [43]:
#finding out the minimum 
min_hours_per_week = df["hours-per-week"].min()
print(min_hours_per_week)

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [44]:
min_hours_workers = df[df["hours-per-week"] == 1]
min_hours_workers.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K

In [ ]:
#finding the percentage
percentage_min_50k = (min_hours_workers[min_hours_workers["salary"] ==">50K"].shape[0]/min_hours_workers["salary"].shape[0])*100
print(percentage_min_50k)

11.11111111111111

What country has the highest percentage of people that earn >50K and what is that percentage?

In [47]:
countries = df["native-country"].unique()
#initializing the dictionary to store percentages
countries_percentage ={}
for country in countries:
    country_data = df[df["native-country"] == country]
    country_count = country_data.shape[0]
    country_rich_count = country_data[country_data["salary"] == ">50K"].shape[0]
    country_salary_percentage = (country_rich_count/country_count)*100
    countries_percentage[country] = round(country_salary_percentage,1)
print(countries_percentage)
max_country = max(countries_percentage, key=countries_percentage.get)
print(max_country)

{'United-States': 24.6, 'Cuba': 26.3, 'Jamaica': 12.3, 'India': 40.0, 'Mexico': 5.1, 'South': 20.0, 'Puerto-Rico': 10.5, 'Honduras': 7.7, 'England': 33.3, 'Canada': 32.2, 'Germany': 32.1, 'Iran': 41.9, 'Philippines': 30.8, 'Italy': 34.2, 'Poland': 20.0, 'Columbia': 3.4, 'Cambodia': 36.8, 'Thailand': 16.7, 'Ecuador': 14.3, 'Laos': 11.1, 'Taiwan': 39.2, 'Haiti': 9.1, 'Portugal': 10.8, 'Dominican-Republic': 2.9, 'El-Salvador': 8.5, 'France': 41.4, 'Guatemala': 4.7, 'China': 26.7, 'Japan': 38.7, 'Yugoslavia': 37.5, 'Peru': 6.5, 'Outlying-US(Guam-USVI-etc)': 0.0, 'Scotland': 25.0, 'Trinadad&Tobago': 10.5, 'Greece': 27.6, 'Nicaragua': 5.9, 'Vietnam': 7.5, 'Hong': 30.0, 'Ireland': 20.8, 'Hungary': 23.1, 'Holand-Netherlands': 0.0}
Iran

Identify the most popular occupation for those who earn >50K in India.

In [48]:
rich_india = df[(df["native-country"]=="India") & (df["salary"] == ">50K")]
#Determining what is the most popular job among this table
print(rich_india["occupation"].value_counts().idxmax())

Prof-specialty